* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* size, fill, stroke */
.svg-icon {
  fill: red !important;
  width: 10rem;
  height: 10rem;
}

/* styly jen pro část svg obrázku */

/* animace - dash: dashoffset, dasharray */