$bg-color: #fff;
$text-color: #222;
$primary-color: #b67c00;

$text-sm: 1rem;
$text-md: 1.125rem;

$screen-xs: "only screen and (min-width: 420px)" !default;
$screen-sm: "only screen and (min-width: 640px)" !default;
$screen-md: "only screen and (min-width: 768px)" !default;
$screen-lg: "only screen and (min-width: 960px)" !default;


$primary: violet;
$enable-rounded:  false;