/** 
SCSS pro pokročilé

https://scotch.io/tutorials/mastering-advanced-sass-workflow-with-zurb-foundation-part-1
https://gist.github.com/jareware/4738651

*/

@import "variables";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";

@import "layout";

p {
  color: $primary-color;
}

$production: true;

// Parent selector &
.heading {
  color: $primary-color;

  &:hover {
    // .heading:hover {}
  }

  &.nova-class {
    // .heading.nova-class {}
  }

  .moje-trida {
    // .heading .moje-trida {}
  }

  .content.content-dark .article-main & {
    color: lighten($primary-color, 10%); //.content.content-dark .article-main .heading {}
  }

  @if ($production) {
    // ...
  }
}

.heading--big {
    
}

// !default
$my-var: blue;

$my-var: red !default;


// Media query nesting
h1 {
  font-size: 2rem;

  @media screen and (min-width: 640px) {
    font-size: 3rem;

    @media screen and (orientation: landscape) {
      font-size: 5rem;
    }
  }
}


// If, each, map-get
.alert {
  padding: 0.5rem 2rem;
}

$alerts: 'ok' 'error';

$alert-colors: (
  "ok": green,
  "error": red,
);

@each $alert in $alerts {
  .alert-#{$alert} {
    background: url('../assets/ico-#{$alert}.svg') no-repeat left center;
    color: map-get($alert-colors, $alert);
  }
}

// Functions - mix, defaults
@function makeBlue($color, $amount: 100) {
  @return mix(rgb(0,0,250), $color, $amount);
}

.heading {
  color: makeBlue($primary-color, 25);
}

// Mixin, extend
@mixin headingVars {
  background-color: yellow;
}

.new-heading {
  @extend .heading;
  @include headingVars();
}