* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


/* -- 1.2 Principy -- */

/*
a) kaskáda - pořadí
  <p class="text-red text-blue">Text</p>
*/
.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

/* 
b) kaskáda - specificita 
 - https://specificity.keegan.st/
 - https://mjswensen.github.io/css-power-ups/the-cascade-and-specificity/specificity-quiz/

 <ul class="list">
  <li class="list-item">
    <a href="" class="list-link">Link</a>
  </li>
 </ul>
*/

a {} /* spec: 1 */
.class {} /* spec: 10 */
#class {} /* spec: 100 */

a  {
  color: blue;
}

li  {
  color: red;
}

.list-item {
  color: green;
}

.list > li > a {
  color: violet;
}

ul .list-item .list-link {
  color: darkgreen;
}

/* <a style="color: red;"> 1000 */

/* c) kaskáda - důležitost */
.list-link {
  color: black !important;
}

/*
dědičnost - inheritance, font x margin
 - https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance
 <div class="blok">
  <p>Text odstavce</p>
 </div>
*/
p {
  font-size: 1rem;
}

.blok {
  font-size: 2rem;
  line-height: 1.5;
  color: red;
  padding: 2rem;
  border: 1px solid blue;
}

/* 
selektory > + ~ [data-attr] a[href^="https"] 
Test na selektory:
 - https://flukeout.github.io/

 <ul>
  <li>
    <ul>
      <li>
*/

ul > li {

}

/*
<div></div>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
*/
div + a {

}

/*
<a href=""></a>
<div></div>
<a href=""></a>
<a href=""></a>
<a href=""></a>
<a href=""></a>
*/
div ~ a {

}

/* selektory */
a[href^="https"] {}

/* pseudoselektory
 - https://codepen.io/svobodalukas/pen/EeMRKL
*/

/*
 pseudotřídy
 - https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
*/

/*
 pseudoelementy - before/after (checkbox, radio, list), counter
*/

.check {
  display: none;
}

.check + label {
  padding-left: 2rem;
  position: relative;
}

.check + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border: 2px solid blue;
}

.check:checked + label:before {
  background-color: red;
}

.list li {
  color: black;
  position: relative;
  margin: 0 0 2rem;
}

.list li:active {
  counter-increment: item item;
}

.list {
  list-style-type: none;
  
}

.list li:before {
  content: counter(item);
  position: absolute;
  left: -1.5rem;
  top: 0;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: green;
  font-size: 2rem;
  font-weight: bold;
}

/* Box model */



/* 
Margin-bottom flow, margin collapse
 - https://css-tricks.com/what-you-should-know-about-collapsing-margins/
*/


/* display, position, visibility */
.el {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/*
.blok-blue {
  background-color: rgba(0,0,255, 0.5);
  padding: 4rem;
  min-height: calc(100vh - header-height - footer-height);
  width: 100vw;
}

.blok-red {
  background-color: red;
  padding: 4rem;
  background-image: url('../assets/foto-1200.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transform: scale(1);
  animation: animOpacity ease-in-out 2s alternate infinite;
}*/


/* jednotky */
html {
  font-size: 10px;
}

/* background - size, attachement, position */


/*
clip-path
 - https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
*/


/* z-index */

/*
animace - transform, animation
 - https://developer.mozilla.org/en-US/docs/Web/CSS/transform
*/

@keyframes animOpacity {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(1.5);
  }
}


/*
calc
 - https://developer.mozilla.org/en-US/docs/Web/CSS/calc
*/

/* webfonty
 - https://www.vzhurudolu.cz/prirucka/css-font-display
*/

/*
CSS proměnné
 - https://www.vzhurudolu.cz/prirucka/css-promenne
*/

html {
  --color-primary: violet;
  --base-font: 3rem;
}

.text {
  color: var(--color-primary);
  font-size: var(--base-font);
}

/* Flexbox
- align items, justify content
 - https://flexboxfroggy.com/#cs
 - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block * {
  flex: 1;
  border: 3px solid blue;
}

.block h1 {
  
}



/* 
Test:
 - https://tutorialzine.com/2017/07/how-well-do-you-know-css
*/
